<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
</head>

<body class="h-screen w-screen bg-gray-300 flex items-center justify-center">
    <div class="bg-gradient-to-r from-blue-100 to-purple-200 w-full min-h-screen flex items-center justify-center">
        <div id="form-ctn" class="bg-white w-1/2 h-fit flex items-start justify-center rounded-lg shadow-lg relative">
            {% if msg_type in ['success', 'warning'] %}
            <form action="/" method="post" class="flex flex-col gap-6 w-full h-full p-3" id="form">
                <div class="flex flex-col gap-5 w-full h-full">
                    <div class="flex justify-center">
                        <p class="text-lg font-bold text-gray-800">BL Fellowship Portal</p>
                    </div>

                    <div class="w-full h-10 rounded-lg">
                        <input type="email" placeholder="Enter the email" id="email" name="email" value="{{ for }}"
                            class="w-full p-3 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>

                    <div class="flex justify-center items-center min-h-10"><span
                            class="font-bold {{ 'text-green-500' if msg_type == 'success' else 'text-red-500' }}">{{
                            message }}</span></div>

                    <div class="w-full h-10">
                        <button id="log-btn" type="submit" name="action" value="{{ action }}"
                            class="w-full h-full bg-blue-500 focus:bg-blue-700 text-white font-bold py-2 px-4 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">{{
                            action }}
                        </button>
                    </div>
                </div>
            </form>
            {% else %}
            <p><span class="font-bold">{{ message }}</span></p>
            {% endif %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (e) => {

            if (`{{ msg_type }}` === 'success') {
                fetch('https://api.ipify.org?format=json')
                    .then(resp => { return resp.json() })
                    .then(data => {
                        const form = document.getElementById("form");

                        if (window.innerWidth <= 768) {
                            if (form) {
                                form.remove(); // Remove the form element

                                const messageDiv = document.createElement("div");
                                messageDiv.innerText = "Mobile devices are not supported.";
                                messageDiv.className = "text-center font-bold w-full bg-red-500 text-white p-4 rounded-md";

                                const parent = document.querySelector("#form-ctn");
                                if (parent) {
                                    parent.appendChild(messageDiv);
                                }
                                return
                            }
                        }

                        const hiddenInput = document.createElement("input");
                        hiddenInput.type = "hidden";
                        hiddenInput.name = "ip";
                        hiddenInput.value = data['ip'];
                        form.appendChild(hiddenInput);
                    })
            }

            // Disable right-click
            // document.addEventListener("contextmenu", event => event.preventDefault());

            // // Disable specific key combinations
            // document.addEventListener("keydown", event => {
            //     // Disable F12, Ctrl+Shift+I, Ctrl+Shift+J, and Ctrl+U
            //     if (
            //         event.key === "F12" ||
            //         (event.ctrlKey && event.shiftKey && (event.key === "I" || event.key === "J")) ||
            //         (event.ctrlKey && event.key === "U")
            //     ) {
            //         event.preventDefault();
            //     }
            // });
        })
    </script>

</body>

</html>
