<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
</head>

<body class="h-screen w-screen bg-gray-300 flex items-center justify-center">
    <div class="bg-gradient-to-r from-blue-100 to-purple-200 w-full min-h-screen flex items-center justify-center">
        <div class="bg-white w-1/2 h-fit flex items-start justify-center rounded-lg shadow-lg pt-5 relative">
            {% if msg_type == 'success' %}
            <form action="/" method="post" class="flex flex-col gap-6 w-full h-full p-3" id="form">
                <div class="flex flex-col gap-6 w-full h-full">
                    <div class="flex justify-center">
                        <p class="text-lg font-bold text-gray-800">BL Fellowship Portal</p>
                    </div>

                    <div class="w-full h-10 rounded-lg">
                        <input type="email" placeholder="Enter the email" id="email" name="email" value="{{ for }}"
                            class="w-full p-3 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>

                    <div class="w-full h-10">
                        <button id="log-btn" type="submit" name="action" value="{{ action }}"
                            class="w-full h-full bg-blue-500 focus:bg-blue-700 text-white font-bold py-2 px-4 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">{{
                            action }}
                        </button>
                    </div>
                </div>
            </form>
            {% else %}
            <div>{{ message }}</div>
            {% endif %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const host = window.location.href

            // if (window.innerWidth <= 768) {
            //     window.location.href = `${host}error`
            // }
            if (`{{ msg_type }}`) {
                fetch('https://api.ipify.org?format=json')
                    .then(resp => { return resp.json() })
                    .then(data => {
                        const form = document.getElementById("form");
                        const hiddenInput = document.createElement("input");
                        hiddenInput.type = "hidden";
                        hiddenInput.name = "ip";
                        hiddenInput.value = data['ip'];
                        form.appendChild(hiddenInput);
                    })
            }
            // eleProps = {
            //     email: document.getElementById('email'),
            //     action: document.getElementById('log-btn'),
            // }

            // const log_data = {}
            // eleProps.email.addEventListener('input', (e) => {
            //     const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            //     let emailValue = e.target.value
            //     if (!emailValue) {
            //         eleProps.email.classList.add('focus:ring-blue-500')
            //         eleProps.email.classList.remove('focus:ring-red-500')
            //         eleProps.action.setAttribute("data-action", "Login");
            //         eleProps.action.innerHTML = `{{ action }}`
            //     } else if (!emailRegex.test(emailValue)) {
            //         eleProps.email.classList.remove('focus:ring-blue-500')
            //         eleProps.email.classList.add('focus:ring-red-500')
            //     } else if (emailValue && emailRegex.test(emailValue)) {
            //         eleProps.email.classList.add('focus:ring-blue-500')
            //         eleProps.email.classList.remove('focus:ring-red-500')

            //         log_data['email'] = emailValue

            //         fetch(`${host}api/user/${emailValue}`, {
            //             method: "GET"
            //         }).then(resp => {
            //             return resp.json()
            //         }).then(data => {
            //             let action = data['message']
            //             if (data.status === 'success') {
            //                 eleProps.action.setAttribute("data-action", action);
            //                 eleProps.action.innerHTML = action
            //                 eleProps.action.removeAttribute('disabled');
            //                 return
            //             }
            //             eleProps.action.setAttribute("data-action", action);
            //             eleProps.action.innerHTML = action
            //         }).catch(e => { })
            //         return
            //     }
            //     eleProps.action.setAttribute('disabled', 'true');
            // })

            // eleProps.action.addEventListener('click', () => {
            //     let action = eleProps.action.getAttribute("data-action");
            //     log_data['action'] = action

            //     eleProps.action.setAttribute('disabled', 'true');

            //     fetch('https://api.ipify.org?format=json')
            //         .then(response => { return response.json() })
            //         .then(data => {
            //             log_data['ip'] = data.ip

            //             fetch(`${host}api/submit`, {
            //                 method: "POST",
            //                 body: JSON.stringify(log_data),
            //                 headers: { "Content-Type": "application/json" },
            //             }).then(resp => {
            //                 return resp.json()
            //             }).then(data => {
            //                 if (data.status != 'success') {
            //                     return
            //                 }
            //                 setTimeout(() => {
            //                     if (action === 'Login') {
            //                         eleProps.action.setAttribute("data-action", "Logout");
            //                         eleProps.action.removeAttribute('disabled');
            //                         eleProps.action.innerHTML = "Logout"
            //                     } else if (action === 'Logout') {
            //                         eleProps.action.setAttribute("data-action", "Logout");
            //                         eleProps.action.setAttribute('disabled', 'true');
            //                         eleProps.action.innerHTML = "All done for today"
            //                     }
            //                     eleProps.email.value = ''
            //                 }, 1500)
            //             })
            //         });
            // })

            // Disable right-click
            // document.addEventListener("contextmenu", event => event.preventDefault());

            // // Disable specific key combinations
            // document.addEventListener("keydown", event => {
            //     // Disable F12, Ctrl+Shift+I, Ctrl+Shift+J, and Ctrl+U
            //     if (
            //         event.key === "F12" ||
            //         (event.ctrlKey && event.shiftKey && (event.key === "I" || event.key === "J")) ||
            //         (event.ctrlKey && event.key === "U")
            //     ) {
            //         event.preventDefault();
            //     }
            // });
        })
    </script>

</body>

</html>
